@{
    ViewBag.Title = "About Centric Consulting";
}
<h2>We’ve always done things a little differently at Centric Consulting.</h2>
<h3>Enjoy the people you work with, have fun, and do great work.</h3>

<p>Stewardship - Practice responisble stewardship. <br/>
    Culture - Invest in an exceptional culture. <br/>
    Innovation - Strive to innovate.<br/>
    Integrity and Openess - Embrace integrity and openess. <br/>
    Delivery Excellence - Commit to delivering excellence. <br/>
    Greater Good - Ignite passion for the greater good. <br/>
    Balance - Live a balanced life.</p>
