@{
    ViewBag.Title = "Contact Centric";
}
<h2>Columbus Location</h2>
<h3>Info</h3>

<address>
    1020 Dennison Avenue<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614.205.8112
</address>

<h4>Follow Centric on Social Media!</h4>

<div class="col-md-2">
    <p><a class="fab fa-twitter-square" href="https://twitter.com/centric"> &raquo;</a></p>
</div>
<div class="col-md-2">
    <p><a class="fab fa-instagram" href="https://www.instagram.com/centricconsulting/?hl=en"> &raquo;</a></p>
</div>
<div class="col-md-2">
    <p><a class="fab fa-linkedin" href="https://www.linkedin.com/company/centric-consulting/"> &raquo;</a></p>
</div>
<div class="col-md-2">
    <p><a class="fab fa-youtube" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw"> &raquo;</a></p>
</div>
<div class="col-md-2">
    <p><a class="fab fa-facebook-square" href="https://www.facebook.com/CentricConsultingNational"> &raquo;</a></p>
</div>