@{
    ViewBag.Title = "Contact Centric";
}
<h2>Columbus Location</h2>
<h3>Info</h3>

<address>
    1020 Dennison Avenue<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614.205.8112
</address>

